ion-grid, ion-row {
  height: 100%;
  background: var(--ion-color-medium);
  justify-content: center;
}
.logo {
  width: 91%;
  background:  var( --ion-color-primary);
}
//step header for mobile devices
.step-header {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light);
  box-shadow: none;
  //  height: 80px;
}
ion-icon {
  font-size: 59px;
  display: inline;
  float: left;
  color: var(--ion-color-light);
}

ion-chip {
  display: block;
  border-radius: 0;
  background: transparent;
  --color: --ion-color-light;
  font-family: var(--ion-font-primary);
  height: 100%;
  //padding: 20px ;
}
ion-label {
  display: flex;
  align-items: center;
  height:  auto;
}
.step-bar {
  border: 1.8px solid var(--ion-color-light);
  padding: 14px 10px 8px 10px;
  height: 45px;
  width: 41px;
  color: var(--ion-color-light);
  opacity: 0.5;
  border-radius: 6px;
  position: relative;
  margin-right: 30px;
  //&:after{
  //	content: "";
  //	border: 2px solid var(--ion-color-light);
  //	position: absolute;
  //	top: 3.44rem;
  //	left: 0.8rem;
  //	width: 3px;
  //	height: 400px;
  //
  //}
}
ion-label .step-label {
  text-align: left;
  font-size: 16px;
  color: var(--ion-color-light);
  opacity: 0.7;
}
//active classes
.active, .done {
  color: var(--ion-color-warning-tint)
}
.active ion-label .step-label, .done ion-label .step-label{
  opacity: 1;
}
.active .step-bar, .done .step-bar {
  border: 2px solid var(--ion-color-warning);
  opacity: 1;
}

.step-progress {
  --percent: calc(var(--progress) / 4 * 100%);
  margin-bottom: 10px;
  line-height: 1;
  content: '';
  height: 5px;
  width: 100%;
  letter-spacing: 3px;
  background:var(--ion-color-primary-shade);
}
.progress {
  width: calc(var(--progress) / 4 * 100%);
  height: inherit;
  border-top-right-radius: 30px;
  animation: ease-in 2s;
  border-bottom-right-radius: 30px;
  background:var(--ion-color-warning);
  animation: expandWidth .6s;
  -webkit-text-fill-color: transparent;
}
@keyframes expandWidth {
  0% { width: calc(var(--progress) / 4 * 75%) }
  100% { width: calc(var(--progress) / 4 * 100%); }
}

.step-segment {
  display: block;
  background:  var( --ion-color-primary);
  // box-shadow: rgba(46, 61, 73, 0.12) 0px 5px 15px 0px;
  box-shadow: var(--shadow-medium);
  padding:30px ;
  min-height: 100%;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    background-image: radial-gradient(currentcolor 1px, transparent 1px);
    background-size: calc(14px) calc(14px);
    color: var(--ion-color-light-shade);
    height: 100px;
    width: 200px;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 45%;
  }
}

.step-count {
  padding: 10px 0;
  display: block;
  font-size: 12px;
  color: var(--ion-color-light);
  opacity: 0.7;
  text-transform: uppercase;
}
.active .step-count {
  color: var(--ion-color-warning-tint);
  opacity: 1;
}
.col-content {
  // background: var(--ion-color-medium);
}
.step-content {
  min-height: 100%;
  height: auto;
  position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}


.step-footer {
  position: absolute;
  top: 90%;

  &-item {
    display: flex;
    justify-content: space-between;
  }
  & a {
    text-decoration: none;
    display: block;
    padding-right: 20px;
    font-size: 13px;
    color: var(--ion-color-primary-shade);
  }
}

