.otp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.desc, p {
  font-family: var(--ion-font-primary);
}

input.custom-input {
  background: var(--ion-color-medium);
  height: 300px !important;
}