
        <app-stepper [linerModeSelected]="false" #appStepper>
            <cdk-step [label]="'Bio Data'" >
                <app-onboard-wallet [onboardForm]="onboardForm"></app-onboard-wallet>
            </cdk-step>
            <!-- <cdk-step [label]="'Verify Your Phone'">
				You
                <app-onboard-otp></app-onboard-otp>
            </cdk-step>
            <cdk-step [label]="'Create Password'">
                <app-onboard-setpassword></app-onboard-setpassword>
            </cdk-step>
            <cdk-step [label]="'Create PIN'">
                <app-onboard-setpin></app-onboard-setpin>
            </cdk-step> -->
        </app-stepper>