<div class="box ion-text-center" @slideInRight>
  <div [formGroup]="boardForm">
    <p class="title ">Verify Phone Number</p>
    <p class="desc">Enter the OTP code sent to +234579782989</p>
    <div class="otp-wrapper" formGroupName="otpForm">
      <ng-otp-input
          (onInputChange)="onOtpChange($event)"
          [config]="{
                  length:6,
                  inputClass: 'custom-input'
                }"
                required
      ></ng-otp-input>
    </div>
    <mat-error
    *ngIf="boardForm.controls.otpForm.controls.otp.errors?.required &&
    boardForm.controls.otpForm.controls.otp.touched">
    Enter a valid OTP 
  </mat-error>
    <div class="">
      <p>Didn't receive code? <a href="#"> Resend OTP</a></p>
    </div>
  </div>
</div>
<div class="action-section">
  <div></div>
  <!-- [disabled]="(boardForm.get('walletForm')).invalid" -->
  <button
  class="btn btn-block btn-primary"
  cdkStepperNext>
    Next
  </button>
</div>