<div class="box">
	<div [formGroup]="boardForm">
		<p class="title ion-text-center">Verify Phone Number</p>
		<p class="desc">Enter the OTP code sent to +234579782989</p>
		<div class="otp-wrapper" formGroupName="otpForm">
			<ng-otp-input
					(onInputChange)="onOtpChange($event)"
					[config]="{length:6, inputClass:'otp-input'}"
			></ng-otp-input>
		</div>
		<div class="">
		
		</div>
	</div>
</div>
<div class="action-section">
	<div></div>
	<ion-button
			slot="end"
			size="default"
			expand="block"
			class="btn"
			(click)="onClick()"
			color="primary">
		Next
	</ion-button>
</div>
