<div class="box ion-text-center">
	<div [formGroup]="boardForm">
		<p class="title ">Verify Phone Number</p>
		<p class="desc">Enter the OTP code sent to +234579782989</p>
		<div class="otp-wrapper" formGroupName="otpForm">
			<ng-otp-input
					(onInputChange)="onOtpChange($event)"
					[config]="{
									length:6,
									 inputStyles: {
									 'width': '60px',
									 'height': '60px'
									 }	}"
			></ng-otp-input>
		</div>
		<div class="">
			<p>Didn't receive code? <a href="#"> Resend OTP</a></p>
		
		</div>
	</div>
</div>
<div class="action-section">
	<div></div>
	<ion-button
			slot="end"
			size="default"
			expand="block"
			class="btn"
			(click)="onClick()"
			color="primary">
		Verify
	</ion-button>
</div>
