<div class="box" @slideInRight>
  <div
    class="password-input"
    [formGroup]="boardForm">
    <p class="title">Add Password</p>
    <div
      class="password-input"
      formGroupName="passwordForm">
      <app-text-input
        [label]="'Create Password'"
        [type]="'password'"
        formControlName="password">
      </app-text-input>
      <!-- <app-text-input
        [label]="'Confirm Password'"
        [type]="'password'"
        formControlName="confirmPassword">
      </app-text-input> -->
    </div>
  </div>
</div>
<div class="action-section">
  <div></div>
  <!-- [disabled]="(boardForm.get('walletForm')).invalid" -->
  <button
  class="btn btn-block btn-primary"
  cdkStepperNext>
    Next
  </button>
</div>