<div class="box ion-text-center" @slideInRight>
  <div
    class="pin-input"
    [formGroup]="boardForm">
    <p class="title ">Create PIN</p>
    <p class="desc">Create a new pin to use for transaction</p>
    <div
      class="otp-wrapper"
      formGroupName="otpForm">
      <ng-otp-input
        (onInputChange)="onOtpChange($event)"
         [config]="{
           length:4,
           inputClass: 'custom-input'
                }">
      </ng-otp-input>
    </div>
  </div>
</div>
<div class="action-section">
  <div></div>
  <!-- [disabled]="(boardForm.get('walletForm')).invalid" -->
  <button
  class="btn btn-block btn-primary"
  cdkStepperNext>
    Next
  </button>
</div>
